version: '3.8'

services:
  # Serviço para a API de Pagamentos
  payments-api:
    container_name: payments-api
    build:
      context: .
      dockerfile: src/services/AcademyIO.Payments.API/Dockerfile
    ports:
      - "5001:80" # Mapeia a porta 5001 do host para a 80 do contêiner
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Data Source=/app/data/AcademyIO_Payment.db # Usando SQLite dentro do contêiner
      - MessageQueueConnection__MessageBus=host=rabbitmq
    volumes:
      - ./data/payments:/app/data # Monta um volume para persistir o banco de dados SQLite
    depends_on:
      - rabbitmq

  # Serviço para a API de Alunos (exemplo)
  students-api:
    container_name: students-api
    build:
      context: .
      dockerfile: src/services/AcademyIO.Students.API/Dockerfile
    ports:
      - "5002:80"
    # Adicione environments e volumes semelhantes ao payments-api

  # Serviço para o RabbitMQ
  rabbitmq:
    container_name: rabbitmq
    image: "rabbitmq:3-management"
    ports:
      - "5672:5672" # Porta para comunicação
      - "15672:15672" # Porta para a interface de gerenciamento
