name: BFF CI

on:
  workflow_call:
    inputs:
      project_name:
        description: "Project name"
        required: true
        type: string
      dockerfile_path:
        description: "Path to Dockerfile"
        required: true
        type: string
      docker_image_name:
        description: "Docker image name"
        required: true
        type: string

jobs:
  ci:
    uses: ./.github/workflows/ci-template.yml
    with:
      project_name: "src/api-gateways/AcademyIO.Bff/"
      dockerfile_path: "./src/api-gateways/AcademyIO.Bff/Dockerfile"
      docker_image_name: "academyio-bff"
    secrets: inherit
