name: Payments API CI

on:
  push:
    branches: ["main"]
    paths:
      - "src/services/AcademyIO.Payments.API/**"
      - "src/building-blocks/**"
      - "tests/AcademyIO.Payments.API.Tests/**"
      - ".github/workflows/payments-ci.yml"
  pull_request:
    branches: ["main"]
    paths:
      - "src/services/AcademyIO.Payments.API/**"
      - "src/building-blocks/**"
      - "tests/AcademyIO.Payments.API.Tests/**"
      - ".github/workflows/payments-ci.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore AcademyIO.sln

      - name: Build
        run: dotnet build --no-restore -c Release AcademyIO.sln

      - name: Lint Check
        run: dotnet format --verify-no-changes

      - name: Test with Coverage
        run: dotnet test --no-build --verbosity normal --logger "console;verbosity=normal" --collect:"XPlat Code Coverage" AcademyIO.sln

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage/*.cobertura.xml
          fail_ci_if_error: false

  build-and-push-docker-image:
    needs: build
    if: github.ref == 'refs/heads/main' && success()
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Docker secrets
        run: |
          if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ] || [ -z "${{ secrets.DOCKERHUB_TOKEN }}" ]; then
            echo "Missing DOCKERHUB_USERNAME or DOCKERHUB_TOKEN secrets"; exit 1;
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./src/services/AcademyIO.Payments.API/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/academyio-payments-api:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/academyio-payments-api:latest
